* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

/* Mobile Start */
.container {
  margin: auto;
  border: 1px solid black;
  width: 375px;

  .hero {
    background-color: #2663fd;
    padding-bottom: 32px;

    .logo-company {
      width: 128px;
      height: 32px;
      margin: 20px 171px 20px 20px;
    }

    .burger-menu {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .photo {
    background-color: #2663fd;
    padding-bottom: 32px;
    width: 375px;

    img {
      width: 343px;
      margin-left: 16px;
    }
  }

  .supercharge {
    background-color: #2663fd;
    padding-bottom: 64px;

    h1,
    h3 {
      width: 343px;
      margin-inline: 16px;
    }

    h1 {
      font-weight: 600;
      line-height: 44px;
      color: white;
      letter-spacing: -2%;
      margin-bottom: 16px;
    }

    h3 {
      color: #B1CCFB;
      line-height: 26px;
      letter-spacing: -0.1px;
      padding-bottom: 32px;
    }

    a {
      background-color: #437EF7;
      padding: 12px 129px;
      margin-inline: 16px;
      margin-bottom: 32px;
      border-radius: 5px;
      font-size: 15px;
      color: white;
      font-weight: 600;
      text-decoration: none;
      border-radius: 5px;
    }
  }

  .logos {
    background-color: #2663fd;
    margin-bottom: 40px;

    h5 {
      font-size: 14px;
      color: white;
      line-height: 20px;
      font-weight: 500;
      margin-left: 20px;
    }

    img {
      width: 112px;
      margin: 23px 23px 23px 23px;
    }
  }

  .message {
    margin-bottom: 32px;

    h2,
    h4 {
      text-align: center;
      margin-inline: 16px;
    }

    h2 {
      margin-bottom: 12px;
    }
  }

  .grid-container-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    .item-1 {
      margin-inline: 18px;
      margin-bottom: 40px;

      img {
        margin-bottom: 16px;
      }

      h3 {
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -2%;
        margin-bottom: 8px;
      }

      h4 {
        font-size: 16px;
        color: #5F6D7E;
        line-height: 24px;
        letter-spacing: -0.1px;
        margin-bottom: 16px;
      }

      a {
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        color: #437EF7;
        display: flex;
      }

      .icons-right {
        margin-left: 6px;
      }
    }
  }

  .redefining {
    margin-inline: 16px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;

    h2 {
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 12px;
    }

    h4 {
      color: #5F6D7E;
      line-height: 24px;
    }
  }

  .wall-photo-1 {
    padding-bottom: 32px;

    img {
      width: 343px;
      margin-inline: 16px;
    }
  }

  .grid-container-2 {
    .item-2 {
      display: flex;
      flex-direction: row;
      width: 343px;
      margin-bottom: 32px;

      .icon {
        margin: 0 16px 0 16px;

        img {
          width: 48px;
          height: 48px;
        }
      }

      .title-and-write-3 {
        margin: 0 16px 0 0;

        h3 {
          font-size: 20px;
          margin-bottom: 8px;
        }

        h4 {
          color: #5F6D7E;
          margin-bottom: 8px;
        }

        a {
          font-size: 15px;
          font-weight: 600;
          text-decoration: none;
          color: #437EF7;
          display: flex;
        }
      }
    }

    .item-7 {
      display: flex;
      flex-direction: row;
      width: 343px;
      margin-bottom: 32px;

      .icon {
        margin: 0 16px 0 16px;

        img {
          width: 48px;
          height: 48px;
        }
      }

      .title-and-write-3 {
        margin: 0 16px 0 0;

        h3 {
          font-size: 20px;
          margin-bottom: 8px;
        }

        h4 {
          color: #5F6D7E;
          margin-bottom: 8px;
        }

        a {
          font-size: 15px;
          font-weight: 600;
          text-decoration: none;
          color: #437EF7;
          display: flex;
        }
      }
    }
  }

  .wall-photo-2 {
    background-color: #151B28;
    padding-top: 32px;
    padding-bottom: 24px;
    /* padding-bottom: 32px; */

    img {
      width: 343px;
      margin-inline: 16px;
    }
  }

  .icon-title-write-icon {

    .item-3 {
      display: flex;
      flex-direction: row;
      width: 375px;
      padding-bottom: 32px;

      .icon {
        /* margin-left: 16px; */

        img {
          width: 48px;
          height: 48px;
          margin-top: 0px;
        }
      }

      .title-and-write-3 {
        margin: 0 16px 0 0;

        h3 {
          font-size: 20px;
          color: white;
          margin-left: 16px;
          margin-bottom: 8px;
        }

        h4 {
          color: #5F6D7E;
          margin-bottom: 8px;
        }

        a {
          font-size: 15px;
          font-weight: 600;
          text-decoration: none;
          color: #437EF7;
          margin-left: 16px;
          display: flex;

          img {
            margin-top: 0px;
          }
        }
      }
    }
  }

  .item-4 {
    margin-inline: 16px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;

    h2 {
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 12px;
    }

    h4 {
      color: #5F6D7E;
      line-height: 24px;
    }
  }

  .item-5 {
    margin-inline: 16px;
    margin-bottom: 64px;

    img {
      margin: 0 0 16px;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      margin-bottom: 16px;
    }

    .avatar-username-userinformations {
      display: flex;
      flex-direction: row;
      margin-bottom: 17px;

      .avatar {
        background-color: white;

        img {
          width: 40px;
          height: 40px;
          background-color: white;
        }
      }

      .userinformations {

        h5 {
          font-size: 15px;
          font-weight: 500;
          line-height: 22px;
          margin-left: 15px;
        }

        p {
          color: #5F6D7E;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          margin-left: 15px;
          justify-content: center;
        }
      }

    }
  }

  .item-6 {
    margin-inline: 16px;
    margin-bottom: 32px;

    img {
      width: 343px;
      margin-bottom: 12px;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      margin-bottom: 16px;
    }

    h4 {
      line-height: 24px;
      color: #5F6D7E;
      margin-bottom: 25px;
    }

    .avatar-and-userinformations {
      display: flex;
      flex-direction: row;

      img {
        width: 40px;
        height: 40px;
      }

      .userinformations {

        h5 {
          font-size: 15px;
          margin-left: 15px;
        }

        p {
          margin-left: 15px;
        }
      }

      .date {
        font-size: 14px;
        font-weight: 500;
        color: #5F6D7E;
        margin-left: 140px;
      }
    }
  }

  .item-7 {
    margin-inline: 16px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;

    h2 {
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 12px;
    }

    h4 {
      color: #5F6D7E;
      line-height: 24px;
    }
  }

  .item-8 {
    margin-bottom: 64px;

    img {
      margin-inline: 107px;
      margin-bottom: 32px;
    }
  }

  .item-9 {

    .sector-information {
      font-size: 14px;
      line-height: 20px;
      color: #437EF7;
      margin-inline: 130px;
      margin-bottom: 8px;
    }

    .digital-vr {
      text-align: center;
      font-size: 28px;
      font-weight: 600;
      line-height: 36px;
      margin-bottom: 16px;
    }

    .form {
      margin-bottom: 64px;

      .text-input {
        width: 343px;
        height: 46px;
        margin-inline: 16px;
        margin-bottom: 30px;
        padding-left: 16px;
      }

      a {
        font-size: 15px;
        text-decoration: none;
        color: white;
        background-color: #437EF7;
        border-radius: 5px;
        padding: 13px 145px;
        margin-inline: 16px;
        margin-bottom: 30px;
      }

      .options {
        width: 298px;
        margin-top: 32px;
        margin-left: 20px;

        .option {
          display: flex;

          img {
            margin-right: 12px;
          }

          h4 {
            width: 180px;
          }
        }
      }
    }
  }

  .item-12 {
    padding-bottom: 32px;

    h4 {
      font-weight: 600;
      line-height: 24px;
      margin-bottom: 12px;
    }

    strong {
      color: white;
    }

    input {
      background-color: #2C3444;
      margin-left: 16px;
      padding: 15px 16px 15px 16px;
    }

    button {
      font-size: 15px;
      font-weight: 600;
      line-height: 22px;
      background-color: #437EF7;
      color: white;
      padding: 12px 18px 12px 18px;
    }
  }

  .footer {
    border-top: 1px solid #2E3545;
    background-color: #151B28;
    padding-top: 16px;

    h4 {
      color: #A5ACBA;
      line-height: 24px;
      margin-left: 16px;
      margin-bottom: 18px;
    }

    img {
      width: 24px;
      height: 24px;
      margin-inline: 27px;
      margin-right: 48px;
    }
  }

  .dark-background-2 {
    background-color: #151B28;
    padding-bottom: 24px;

    img {
      margin-top: 32px;
      margin-left: 16px;
      margin-bottom: 16px;
    }

    h4 {
      color: #A5ACBA;
      line-height: 24px;
      margin-inline: 16px;
      margin-bottom: 24px;
    }

    .resources-and-products {
      display: flex;
      flex-direction: row;

      .resources,
      .products {
        strong {
          color: white;
        }

        a {
          text-decoration: none;
        }

        h4 {
          margin-bottom: 16px;
          color: #A5ACBA;
        }
      }

      .resources {
        margin-left: 16px;
        margin-right: 50px;
      }
    }
  }

}

/* Mobile End */

/* Tablet Start */
@media (width > 768px) {
  .container {
    margin: auto;
    border: 1px solid black;
    width: 768px;

    .hero {
      .logo-company {
        margin-right: 581px;
      }
    }

    .photo {
      background-color: #2663fd;
      width: 768px;

      img {
        width: 448px;
        height: 560px;
        margin-inline: 160px;
      }
    }

    .supercharge {
      padding-bottom: 40px;

      h1,
      h3 {
        width: 672px;
        margin-inline: 48px;
      }

      h1 {
        font-size: 52px;
        line-height: 60px;

      }

      h3 {
        font-size: 18px;
      }

      a {
        padding: 12px 50px;
        margin-left: 45px;
      }
    }

    .logos {
      padding-left: 30px;
    }

    .grid-container-1 {
      grid-template-columns: repeat(2,1fr);
    }

    .redefining {
      margin-inline: 32px;
    }

    .wall-photo-1 {
      img {
        margin-inline: 180px;
      }
    }

    .grid-container-2 {
      .item-2 {
        .title-and-write-3 {
          h4 {
            width: 650px;
          }
        }
      }
    }
  }
}

/* @media (width > 768px) {
  .container {
    margin: auto;
    border: 1px solid black;
    width: 768px;

    .hero {
      .logo-company {
        margin-right: 581px;
      }
    }

    .boxes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .item-1 {
        background-color: #2663fd;
        width: 768px;

        img {
          width: 448px;
          height: 560px;
          margin-inline: 160px;
        }
      }

      .item-2 {
        margin-bottom: 40px;

        h1,
        h3 {
          width: 672px;
          margin-inline: 48px;
        }

        h1 {
          font-size: 52px;
          line-height: 60px;

        }

        h3 {
          font-size: 18px;
        }

        a {
          padding: 12px 50px;
          margin-left: 45px;
        }

        h5 {
          margin-left: 45px;
        }

        .logos {
          margin-left: 30px;
          margin-bottom: 48px;
        }

        img {
          width: 112px;
          margin: 10px 10px 10px 10px;
        }
      }

      .item-3 {
        margin-inline: 32px;

        h2 {
          font-size: 32px;
          line-height: 40px;
        }

        h4 {
          line-height: 24px;
        }
      }

      .item-2 {
        grid-column: 1;
        grid-row: 2;
      }
      
      .item-3 {
        grid-column: 1;
        grid-row: 3;
      }

      .item-3 {
        grid-column: 1;
        grid-row: 6;
      }
    }
  }
} */

/* Tablet End */