* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

.container {
  margin: auto;
  border: 1px solid black;
  width: 375px;
}

.hero {
  background-color: #648EF7;
  margin-bottom: 32px;

  .logo-company {
    width: 128px;
    height: 32px;
    margin-right: 191px;
  }
}

.avatar {
  background-color: #648EF7;
  margin-bottom: 32px;

  img {
    width: 343px;
  }

  ;
}

.title-and-write {
  margin-bottom: 32px;

  h1,
  h3 {
    width: 343px;
    margin-inline: 16px;
  }

  h1 {
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -2%;
    margin-bottom: 16px;
  }

  h3 {
    line-height: 26px;
    letter-spacing: -0.1px;
  }
}

.button {
  background-color: #437EF7;
  margin-bottom: 32px;

  a {
    font-size: 15px;
    color: white;
    font-weight: 600;
    padding: 12px 129px;
    text-decoration: none;
    border-radius: 5px;
    margin-inline: 16px;
  }
}

h5 {
  line-height: 20px;
  margin-left: 16px;
}

.logos {
  background-color: #437EF7;
  margin-bottom: 40px;

  h5 {
    color: white;
    margin-bottom: 16px;
  }

  img {
    width: 112px;
    margin: 23px 23px 23px 23px;
  }
}

.message {
  margin-bottom: 32px;

  h2,
  h4 {
    text-align: center;
    margin-inline: 16px;
  }

  h2 {
    margin-bottom: 12px;
  }
}

.icons-titles-writes {
  margin-inline: 18px;
  margin-bottom: 40px;

  img {
    margin-bottom: 16px;
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -2%;
    margin-bottom: 8px;
  }

  h4 {
    font-size: 16px;
    color: #5F6D7E;
    line-height: 24px;
    letter-spacing: -0.1px;
    margin-bottom: 16px;
  }

  a {
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #437EF7;
    display: flex;
  }

  .icons-right {
    margin-left: 6px;
  }
}

.title-and-write-2 {
  margin-inline: 16px;
  text-align: center;
  margin-bottom: 32px;

  h2 {
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 12px;
  }

  h4 {
    color: #5F6D7E;
    line-height: 24px;
  }
}

.wall {
  margin-bottom: 32px;

  img {
    width: 343px;
    margin-inline: 16px;
  }
}

.icons-titles-writes-3 {
  display: flex;
  flex-direction: row;
  width: 343px;
  margin-bottom: 32px;

  .icon {
    margin: 0 16px 0 16px;

    img {
      width: 48px;
      height: 48px;
    }
  }

  .title-and-write-3 {
    margin: 0 16px 0 0;

    h3 {
      font-size: 20px;
      margin-bottom: 8px;
    }

    h4 {
      color: #5F6D7E;
      margin-bottom: 8px;
    }

    a {
      font-size: 15px;
      font-weight: 600;
      text-decoration: none;
      color: #437EF7;
      display: flex;
    }
  }
}

.dark-background {
  background-color: #151B28;

  h3 {
    color: white;
  }
}

.wall-2 {
  background-color: #151B28;

  img {
    width: 343px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-inline: 16px;
  }

  .write-color {
    color: white;
  }
}

.customer-comments {
  text-align: center;
  margin-inline: 16px;
  margin-bottom: 40px;

  h2 {
    margin-bottom: 12px;
  }

  h4 {
    color: #5F6D7E;
  }
}

.logo-comment-avatar-username-userinformation {
  margin-inline: 16px;
  
  img {
    margin: 0 0 16px;
  }

  h3 {
    font-size: 20px;
  }

  .avatar-username-userinformations {
    display: flex;
    flex-direction: row;

    img {
      width: 40px;
      height: 40px;
    }
  }
}